@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 39,40,34;
  --background-end-rgb:39,40,34;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/*additional css*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}
nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f100;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: grab;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: white;
  color:white;
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: none;
}
.nav__menu-list.active{
  right: 0;
  background-color:rgba(0, 0, 0, 0.815);
}
.nav__item{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}

.nav__item::before{
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: rgb(59, 130, 246);
  transition: all 0.2s;
  z-index: 1;
}

.nav__item:hover::before{
  width: 100%;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__item::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: rgb(59, 130, 246);
    transition: all 0.2s;
    z-index: 1;
  }
  
  .nav__item:hover::before{
   width: 100%;
  }
}

